/* classes
   -------------------------------- */
.fx-layout {
  display: flex;
}

.fx-flex {
  flex: 1 1 0%;
}

.fx-flex-content, .flex.content {
  flex: content;
}

.fx-basis-auto, .basis.auto {
  flex-basis: auto;
}

.fx-basis-zero, .basis.zero {
  flex-basis: 0%;
}

.fx-column {
  flex-direction: column;
  display: flex;
}

.fx-column-reverse, .column.reverse {
  flex-direction: column-reverse;
}

.fx-column-inline, .column.inline {
  flex-direction: column;
  display: inline-flex;
}

.fx-row {
  flex-direction: row;
  display: flex;
}

.fx-row-reverse, .row.reverse {
  flex-direction: row-reverse;
}

.fx-row-inline, .row.inline {
  flex-direction: row;
  display: inline-flex;
}

.fx-wrap {
  flex-wrap: wrap;
}

.fx-wrap-reverse, .wrap.reverse {
  flex-wrap: wrap-reverse;
}

.fx-no-wrap {
  flex-wrap: nowrap;
}

.fx-fit {
  margin: 0px;
  width: 100%;
  min-height: auto;
  height: inherit;
}

.fx-height-max {
  height: 100%;
}

.fx-hide {
  display: none !important;
}

.fx-outline {
  outline: 1px solid #990000;
}

.fx-outline-red {
  outline: 1px solid #990000;
}

.fx-outline-gray {
  outline: 1px solid #999;
}

.fx-overflow-hidden {
  overflow: hidden;
}

.fx-scrollable {
  overflow: scroll;
}

.fx-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.fx-break-word {
  word-break: break-all;
}

.fx-nowrap {
  white-space: nowrap;
}
