/* media queries by size name,
   - sm="column"
   - md="row"
   - etc
----------------------------------------------- */
@media (max-width: 479px) {
  [fx-sm="column"] {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }
  [fx-sm="row"] {
    -ms-flex-direction: row !important;
    flex-direction: row !important;
  }
  [fx-conceal~="sm"] {
    display: none !important;
  }
}

@media (max-width: 767px) {
  [fx-md="column"] {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }
  [fx-md="row"] {
    -ms-flex-direction: row !important;
    flex-direction: row !important;
  }
  [fx-conceal~="md"] {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  [fx-lg="column"] {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }
  [fx-lg="row"] {
    -ms-flex-direction: row !important;
    flex-direction: row !important;
  }
  [fx-conceal~="lg"] {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  [fx-xl="column"] {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }
  [fx-xl="row"] {
    -ms-flex-direction: row !important;
    flex-direction: row !important;
  }
  [fx-conceal~="xl"] {
    display: none !important;
  }
}

/* media queries by device name,
   - mobile="column"
   - tablet="row"
   - etc.
   @DEPRECATED in favor of sm,md,lg, etc above
----------------------------------------------- */
@media (max-width: 479px) {
  [fx-mobile="column"] {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }
  [fx-mobile="row"] {
    -ms-flex-direction: row !important;
    flex-direction: row !important;
  }
  [fx-conceal~="mobile"] {
    display: none !important;
  }
}

@media (max-width: 767px) {
  [fx-tablet="column"] {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }
  [fx-tablet="row"] {
    -ms-flex-direction: row !important;
    flex-direction: row !important;
  }
  [fx-conceal~="tablet"] {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  [fx-laptop="column"] {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }
  [fx-laptop="row"] {
    -ms-flex-direction: row !important;
    flex-direction: row !important;
  }
  [fx-conceal~="laptop"] {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  [fx-desktop="column"] {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }
  [fx-desktop="row"] {
    -ms-flex-direction: row !important;
    flex-direction: row !important;
  }
  [fx-conceal~="desktop"] {
    display: none !important;
  }
}

/* hiding components by device name
   - sm, md, lg, xl
----------------------------------------------- */
/* hiding components by size name
   - sm, md, lg, xl
----------------------------------------------- */
