@import '../variables';
@import '../functions';

/* main axis
----------------------------------------------- */
@each $key, $val in $justifyContentMap {
  .#{make-dash-name(main-axis, $key, $prefix)} {
    justify-content: #{$val};
  }
}

/* cross axis
----------------------------------------------- */
@each $key, $val in $alignItemsMap {
  .#{make-dash-name(cross-axis, $key, $prefix)} {
    align-items: #{$val};
  }
}

/*  cross axis align
    TODO: dislike the name.
    NOTE: this does nothing if there is a
    single line of content in the container (spec)
----------------------------------------------- */
@each $key, $val in $alignContentMap {
  .#{make-dash-name(cross-axis-align, $key, $prefix)} {
    align-content: #{$val};
  }
}

/* self, for overriding the parent settings above
----------------------------------------------- */
@each $key, $val in $alignItemsMap {
  .#{make-dash-name(self, $key, $prefix)} {
    align-self: #{$val};
  }
}
