@import 'variables';

// Generate various shadows
// TODO: can update and just use $px-map
@each $size, $num in $num-map {

    [shadow-#{$size}] {
        box-shadow: 0px 0px #{$num}px #{$num}px rgba(156,156,156,1);
    }

    /* experimental offsets, left only currently */
    [shadow-offset-#{$size}] {
        box-shadow: #{$num}px #{$num}px 0px 0px rgba(156,156,156,1);
    }
}


@each $size, $num in $num-map {

    [round-#{$size}] {
        border-radius: #{$num}px;
    }

}
