/*
    .class based versions
    - perhaps provide this as a nice addition for those who don't want to do attrs
    - conceptually breaks down the sceme:
    <div layout column mar-xxl outline class="ht-200 shadow-sm widget widget-user">
*/

/* padding sizes */
@each $size, $px in $num-map {
    .pad-#{$size} {
        padding: px($px) px($px * 2);
    }
}
/* padding side overrides */
@each $size, $px in $num-map {
    .pad-sides-#{$size} {
        padding-left: px($px * 2);
        padding-right: px($px * 2);
    }
}
/* padding top & bottom overrides */
@each $size, $px in $num-map {
    .pad-top-bottom-#{$size} {
        padding-top: px($px * 2);
        padding-bottom: px($px * 2);
    }
}
/* margin sizes */
@each $size, $px in $num-map {
    .mar-#{$size} {
        margin: px($px) px($px * 2);
    }
}
/* margin side overrides */
@each $size, $px in $num-map {
    .mar-sides-#{$size} {
        margin-left: px($px * 2);
        margin-right: px($px * 2);
    }
}
/* margin top & bottom overrides */
@each $size, $px in $num-map {
    .mar-top-bottom-#{$size} {
        margin-top: px($px * 2);
        margin-bottom: px($px * 2);
    }
}