@import 'variables';
/*
    FLEX REFERENCE
        https://css-tricks.com/snippets/css/a-guide-to-flexbox/
        - display
            - set to flex to create a flex container
        - flex-direction
            - establish main axis, default row
        - flex-wrap
            - allow items to wrap to next line or force to fit on single line
            - default: nowrap
        - flex-flow
            - shorthand for flex-direction, flex-wrap combined
        - justify-content
            - align items on main axis
        - align-items
            - flex item laid out along cross axis on the current line
        - align-content
            - align items on cross axis
        - order
            - override source order of layout of children
        - flex-grow
            - ability for flex item to grow, default 1
        - flex-shrink
            - ability for flex item to shrink, default 1
        - flex-basis
            - default size of element before space distributed, default auto
        - flex
            - shorthand for flex-grow, flex-shrink, flex-basis combined
        - align-self
            - overrides the align-items value on parent
*/


/* basic flex attrs
----------------------------------------------- */

/* flex container */
/* @deprecated, 'layout' is superfluous, just use 'column' or 'row' */
[layout] {
    display: flex;
}

/* primary flex child*/
[flex] {
    flex: 1;
}

/* this is useless right now,
    but a reminder to look at it later */
[basis],
[basis="auto"] {
    flex-basis: auto;
}

/* flex-direction is handled in these attrs */
[column],
[layout="column"] {
    flex-direction: column;
    display: flex;
}

[column="reverse"],
[column][reverse] {
    flex-direction: column-reverse;
}

[row],
[layout="row"] {
    flex-direction: row;
    display: flex;
}

[row="reverse"],
[row][reverse] {
    flex-direction: row-reverse;
}
[wrap] {
    flex-wrap: wrap;
}
[wrap][reverse] {
    flex-wrap: wrap-reverse;
}
[no-wrap] {
    flex-wrap: nowrap;
}

/* sizing
----------------------------------------------- */
/* match the parent */
[fit] {
    margin: 0px;
    width: 100%;
    min-height: auto;
    height: inherit; /* 100%? */
}
