/*
    Sketch
    - throw away styles
    - quick dirty styles for view test / demos
*/
body {
    color: #666;
    font-family: sans-serif;
}

.ht-100 {
    height: 100px;
}
.ht-200 {
    height: 200px;
}