// Bootstrap has some similar base vars, see the docs:
// http://getbootstrap.com/css/#less-variables-components

// primarily for em() function
$base-font: 14;


// This set is quite small.
$num-nil: 0;
// $num-xs: 1;
// $num-sm: 2;
// $num-md: 3;
// $num-lg: 5;
// $num-xl: 8;
// $num-xxl: 10;
// $num-xxxl: 12;
// $num-xxxxl: 15;
// $num-max: 300;
// Is larger numbers better?
$num-xs: 2;
$num-sm: 4;
$num-md: 6;
$num-lg: 10;
$num-xl: 15;
$num-xxl: 20;
$num-xxxl: 30;
$num-xxxxl: 40;
$num-max: 300;

// use functions to make units:
// px($num) -> 10px,
// em($num) -> 10em,
// etc.
$num-map: (nil: $num-nil,
            xs: $num-xs,
            sm: $num-sm,
            md: $num-md,
            lg: $num-lg,
            xl: $num-xl,
            xxl: $num-xxl,
            xxxl: $num-xxxl,
            xxxxl: $num-xxxxl,
            max: $num-max);



/* axis maps
----------------------------------------------- */

$justify-content-map: ( start: 'flex-start',
                        end: 'flex-end',
                        center: 'center',
                        space-between: 'space-between',
                        space-around: 'space-around');

$align-items-map: ( start: 'flex-start',
                    end: 'flex-end',
                    center: 'center',
                    stretch: 'stretch',
                    baseline: 'baseline');

$align-content-map: (   start: 'flex-start',
                        end: 'flex-end',
                        center: 'center',
                        stretch: 'stretch',
                        space-between: 'space-between',
                        space-around: 'space-around');



/* media queries
    - currently considering two name options...
----------------------------------------------- */
$media-devices: (   mobile: 'max-width: 479px',
                    tablet: 'max-width: 767px',
                    laptop: 'min-width: 768px) and (max-width: 979px',
                    desktop: 'min-width: 1200px');

$media-sizes: (     sm: 'max-width: 479px',
                    md: 'max-width: 767px',
                    lg: 'min-width: 768px) and (max-width: 979px',
                    xl: 'min-width: 1200px');

$media-orientation: column, row;
